
<div class="container">
  <h2 id="usersListHeader">Users List</h2>
  <div class="row" >
    <button mat-fab id="createUserButton" routerLink= "create" matTooltip="Add User">+</button>
  </div>

  <div id= "accordion" class="col-xs-10 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <mat-accordion multi="true" *ngIf="users.length > 0">
  <mat-expansion-panel *ngFor="let user of users" >
    <mat-expansion-panel-header >
    {{user.firstName}} {{user.lastName}}
    </mat-expansion-panel-header >
    <p>E-mail: {{user.eMail}}</p>
    <mat-action-row>
        <button mat-button color="primary" [routerLink]="'/users/edit/' + user.id">Düzenle</button>
        <button mat-button color="warn" (click)="onDelete(user.id)">Sil</button>
      </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="users.length == 0">user yok daha</p>
  </div>
</div>


